- @breadcrumbs = ["Главная", "Вход в личный кабинет"]
- contentLeftHtml = Haml::Engine.new(File.read("productList/fasetColumn.haml")).render(parent)
- contentRightHtml = File.read("productList/productList.html")
- breadcrumbsHtml = Haml::Engine.new(File.read("components/breadcrumbs.haml")).render(parent, :breadcrumbs => @breadcrumbs)

!!! 5
%html{}
%head
  %meta{:charset=>"utf-8"}
  %title Комус - главная страница
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/style.css"}
  %script{:type=>"text/javascript", :src=>"js/temp.js"}
%body
  .b-pageWrapper
    .b-header
      = Haml::Engine.new(File.read("header.haml")).render
  .b-content
    .b-container.b-container--main
      .b-container--main__inner
        = Haml::Engine.new(File.read("header/logoSearch.haml")).render
        .clearfix
          = Haml::Engine.new(File.read("header/topMenu.haml")).render
          = Haml::Engine.new(File.read("pageTemplates/twoColumnContent.haml")).render(parent, :leftPanelContent => contentLeftHtml, :rightPanelContent => contentRightHtml, :breadcrumbs => breadcrumbsHtml)
        .clearfix
          = Haml::Engine.new(File.read("footer.haml")).render
      = Haml::Engine.new(File.read("footer/adv.haml")).render